/* Hero Section */
.hero-section {
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}
.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Overlay for readability */
}
.hero-section .container {
    position: relative;
    z-index: 1;
}

/* Navbar */
.navbar {
    /* transition: background-color 0.3s; */

    background-color: #004502;
}
/* Darker shade when scrolled  */
/* .navbar.scrolled { */
    /* background-color: #005566 !important; */
/* } */

/* Cards */
.card {
    transition: transform 0.3s;
}
.card:hover {
    transform: translateY(-10px);
}

/* Form
form .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
} */

/* Programs Section */
.accordion-button {
    font-size: 1.2rem;
    font-weight: 500;
    color:#111;
    background-color: transparent !important; /* Remove default background */
    box-shadow: none !important; /* Remove any shadow */
}
.accordion-button:not(.collapsed) {
    color:#111; /*Keep text color change on active*/
    background-color: rgba(0, 128, 0, 0.5) !important; /* Remove active background */
    box-shadow: none !important; /* Remove any shadow */
}
.accordion-body {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}
.accordion-button i {
    font-size: 1.5rem;
}
.accordion-item {
    margin-bottom: 10px;
    border-radius: 0.25rem;
    overflow: hidden;
}
#programs h4 {
    color: #343a40;
    font-weight: 600;
}
/* Contact Section */
